.project-teegolf{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("../projects/teegolf/bg.jpg"), lightgray 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.project-soundsquad{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("../projects/soundsquad/bg.jpg"), lightgray 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-insulae{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("../projects/insulae/bg.jpg"), lightgray 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-tinder{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("../projects/tinder/bg.jpg"), lightgray 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-electronica-embajadores{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("../projects/electronica-embajadores/bg.jpg"), lightgray 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}