html{
    scroll-behavior: smooth;
    
}

body{
    background-color: #FFFCFF;
    font-family: 'Montserrat', sans-serif;
    /* Desktop/Paragraph M */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
    overflow-x: hidden;
}

h3{
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.4px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}


.flex{
    display: flex;
    align-items: center;
}

.button{
    text-decoration: none;
    color: var(--color-shell-white, #FFFCFF);
    border-radius: 100px;
    border-radius: 100px;
    background: linear-gradient(48deg, #141414 0%, #000E59 100%);
    padding: var(--spacing-spacing-2-xs, 16px) var(--spacing-spacing-xs, 24px);
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

.button:hover{
    scale: 0.95;
    box-shadow: #000d59c9;
}



.chip-row{
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
}

.chip{
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-border-radius-2-xs, 4px);
    border: 2px solid var(--color-shell-white, #FFFCFF);
    color: var(--color-shell-white, #FFFCFF);
    
}

.button-icon-right{
    display: flex;
    gap: var(--spacing-spacing-3-xs, 8px);
    align-items: center;
}

.button-icon-right a{
    color: var(--color-shell-white, #FFFCFF);
    text-decoration: none;
    /* Desktop/Paragraph M Bold */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
}


.button-tertiary{
    display: flex;
    padding: var(--spacing-spacing-2-xs, 16px) var(--spacing-spacing-xs, 24px) var(--spacing-spacing-2-xs, 16px) 0px;
    align-items: flex-start;
}

.button-tertiary a{
    border-bottom: solid 2px #000E59;
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
    
}

.button-tertiary a{
    text-decoration: none;
    text-underline-offset: 6px;
    color: var(--color-mediterranean-deep, #000E59);
    
}

@media (max-width: 700px){
    body{
        background-color: #FFFCFF;
        font-family: 'Montserrat', sans-serif;
        /* Desktop/Paragraph M */
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.4px;
        overflow-x: hidden;
    }

    .button{
        padding: var(--spacing-spacing-3-xs, 8px) var(--spacing-spacing-2-xs, 16px);
    }

    .button-icon-right img{
        width: 16px;
        height: 16px;

    }
    
    .button-icon-right a{
        color: var(--color-shell-white, #FFFCFF);

        /* Mobile/Paragraph M Bold */
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.32px;
    }
}


/* animations */
.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-21 1:57:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

  .fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-21 2:12:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-200px);
              transform: translateZ(-200px);
        -webkit-transform: scaleX(0.8);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
              -webkit-transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-200px);
              transform: translateZ(-200px);
        -webkit-transform: scaleX(0.8);
      opacity: 0;
    }
    
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
              -webkit-transform: scaleX(1);
      opacity: 1;
    }
  }

  .fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2023-7-22 0:16:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-7-22 0:16:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (min-width: 900px){

  body{
    overflow-x: hidden;
}
}