/* Desktop */
.title-xl{
    font-family: Montserrat;
    font-size: 116px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.32px;
}

.title-l{
    font-family: Montserrat;
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title-m{
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title-s{
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.paragraph-s{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
 } 

.paragraph-m-bold{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
 }

 .paragraph-m{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
 }


 /* mobile */

 @media (max-width: 750px) {
    .title-xl{
        font-family: Montserrat;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.8px;
    }
    
    .title-l{
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    
    .title-m{
        font-family: Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .title-s{
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .paragraph-s{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.4px;
     } 
    
    .paragraph-m-bold{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.4px;
     }
    
     .paragraph-m{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.4px;
     }
 }